<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="/css/theme.css" rel="stylesheet" type="text/css"/>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Dilip Singh Kunwar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
					<li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<article>
						<br><h3><u>Table: Monthly Costs Summary</u></h3>
						<br>
						<table border="1" class="table">
							<caption><b><em>Monthly costs core expenditures</em></b></caption>
							<thead>
								<tr>
									<td><b>Month</b></td><td><b>Hydro</b></td><td><b>Gas</b></td><td><b>Phone</b></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>January</td><td>50</td><td>150</td><td>90</td>
								</tr>
								<tr>
									<td>February</td><td>50</td><td>200</td><td>95</td>
								</tr>
								<tr>
									<td>March</td><td>55</td><td colspan="2">&emsp;&emsp;&emsp;&emsp;350</td>
								</tr>
							</tbody>
						</table>
					</article>
					<article>
						<h3><u>Table: Outdoor Dining</u></h3>
						<br>
						<table border="1" class="table">
							<caption><b><em>Monthly outdoor dining costs details</em></b></caption>
							<thead>
								<tr>
									<td><b>Month</b></td><td><b>Restaurant</b>&nbsp;</td><td><b>Cost</b></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>January</td><td>The Chase</td><td>113.13</td>
								</tr>
								<tr>
									<td>January</td><td>Carisma</td><td>90.65</td>
								</tr>
								<tr>
									<td>February</td><td>Carisma</td><td>40.89</td>
								</tr>
								<tr>
									<td>February</td><td>Aloette Restaurant</td><td>50.56</td>
								</tr>
								<tr>
									<td>February</td><td>Uber Eats</td><td>60.67</td>
								</tr>
								<tr>
									<td>March</td><td>Don Alfonso 1890</td><td>160.53</td>
								</tr>
							</tbody>
						</table>
					</article>
					
					<article>
						<h3><u>Lists: Fix expenditures per month</u></h3>
						<ul>
							<li><b>Accommodation:</b> 1200</li>
							<li><b>Transportation:</b> 300</li>
							<li><b>Car EMI:</b> 500</li>
							<li><b>Food:</b> 500
								<ol>
									<li>Vegetables: 100</li>
									<li>Meat: 200</li>
									<li>Snaks: 100</li>
									<li>Other: 150</li>
								</ol>
							</li>
							<li><b>Miscellaneous:</b> 100</li>
						</ul>
						<p>The above core expenditures highlights the details of fix costs per month.</p>
					</article>
					
					<article>
						<br><h3><u><b>Images:</b> Sample Images</u></h3>
						<br>
						<img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Flabellina-300x200.jpg?20070528220124" width="300" height="200" alt="Flabellina(sea slugs) Photo">
						<img src="https://www.holoweb.net/~liam/pictures/2007-06-29-san-vivaldo/pages/img_4927/img_4927-300x200.jpg"  width="300" height="200" alt="Potrait of a hilly area">
						<img src="https://fastly.picsum.photos/id/15/200/300.jpg?hmac=lozQletmrLG9PGBV1hTM1PnmvHxKEU0lAZWu8F2oL30" width="300" height="200" alt="Picture of Waterfall">
						<br><p><em>Some of the favorite pictures of developer</em></p>
					</article>
					
					<article>
						<br><h3><u><b>Audio:</b> Sample Music</u></h3>
						<audio controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-audio.mp3" type="audio/mp3">
							<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-audio.ogg" type="audio/ogg">
							<p>Sorry, your browser doesn't support HTML5 audio. Here is a <a href="song.mp3">link to the audio</a> instead</p>.
						</audio>
						<p><em>A sample audio added in the website using HTML 5 audio player.</em></p>
					</article>

					<article>
						<br><h3><u><b>Video:</b> Sample Video</u></h3>
						<video width="320" height="240" controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-video.mp4" type="video/mp4">
							<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-video.ogg" type="video/ogg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-video.webm" type="video/webm">
							<p>Sorry, your browser doesn't support HTML5 video</p>
						</video>
						<p><em>A sample video added in the website using HTML 5 video player. Note: The video has no sound.</em></p>
					</article>
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>